<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= t(:title) %></title>
    <%= stylesheet_link_tag "modalise" %>
    <%= stylesheet_link_tag "site" %>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/meta/favicon-16x16.png">
    <link rel="mask-icon" href="/images/meta/safari-pinned-tab.svg" color="#ff0000">
    <link rel="shortcut icon" href="/images/meta/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">

    <meta name=”twitter:card” content=”summary” />
    <meta name="description" content="<%= t(:description) %>">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= t(:title) %>" />
    <meta property="og:url" content="https://www.covidtracker.ch<%= current_page.url %>" />
    <meta property="og:description" content="<%= t(:description) %>" />
    <meta property="og:image" content="https://www.covidtracker.ch/images/meta/ogimage-merged.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <script>
    function onDOMReady(runFunc) {
      if (document.readyState != 'loading') {
        // in case the document is already rendered
        runFunc();
      }
      else if (document.addEventListener) {
        // for modern browsers
        document.addEventListener('DOMContentLoaded', runFunc);
      }
      else {
        // IE <= 8
        document.attachEvent('onreadystatechange', function() {
          if (document.readyState === 'complete') {
            runFunc();
          }
        });
      }
    }
    </script>
  </head>
  <body data-lang="<%= I18n.locale %>">
    <%= yield %>

    <%= partial "partials/footer" %>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.dataset%2Cdocument.querySelector%2CArray.prototype.includes"></script>
    <%= javascript_include_tag "date-input-polyfill.min" %>
    <%= javascript_include_tag "modalise.min" %>
    <%= javascript_include_tag "persistence" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
