<footer class="footer">
  <div class="container">
    <ul class="footer__nav">
      <li><%= link_to 'Map', '/map.html' %></li>
      <li><%= link_to 'FAQ', '/faq.html' %></li>
      <li><%= link_to t(:imprint), '/imprint.html' %></li>
      <!--
      <li><%= link_to t(:dataProtection), '/dataprotection.html' %></li>
      -->
      <li><%= link_to t(:aboutTheStudy), '/study_info.html', target: "_blank" %></li>
      <li><%= link_to t(:consentInformation), '/consent.html', target: "_blank" %></li>
      <li><%= link_to t(:pressKitFooter), '/presskit.html', target: "_blank" %></li>
    </ul>
  </div>
</footer>
