<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2><%= t(:partners) %></h2>
    <div class="partner-grid">
      <ul>
        <li><a target="_blank" href="https://www.be.ch"><img src="/images/partner/logo-bern.png" alt="Gesundheitsdirektion des Kantons Bern"></a></li>
      </ul>
    </div>
    <h2><%= t(:implementation) %></h2>
    <div class="partner-grid">
      <ul>
        <li><a target="_blank" href="https://www.milliwayszurich.ch"><img src="/images/partner/logo-milliways.png" alt="Milliways GmbH"></a></li>
        <li><a target="_blank" href="https://www.diluno.com"><img src="/images/partner/logo-diluno.png" alt="Diluno GmbH"></a></li>
        <li><a target="_blank" href="https://www.astina.ch"><img src="/images/partner/logo-astina.png" alt="Astina AG"></a></li>
        <li><a target="_blank" href="https://www.nine.ch"><img src="/images/partner/logo-nine.png" alt="Nine Internet Solutions AG"></a></li>
        <li><a target="_blank" href="https://www.texetera.ch"><img src="/images/partner/logo-texetera.png" alt="Texetera GmbH"></a></li>
        <li><a target="_blank" href="https://www.triboni.ch"><img src="/images/partner/logo-triboni.png" alt="Triboni AG"></a></li>
        <li><a target="_blank" href="https://www.esri.ch/de-ch/home"><img src="/images/partner/logo-esri.png" alt="Esri Schweiz"></a></li>
        <li><a target="_blank" href="https://www.meierpartner.ch"><img src="/images/partner/logo-meierpartner.png" alt="Meier und Partner AG"></a></li>
      </ul>
    </div>
    <h2><%= t(:imprint) %></h2>
    <p><b><%= t(:generalinfo) %></b><br><a href="mailto:info@covidtracker.ch">info@covidtracker.ch</a></p>
    <p><b><%= t(:press) %></b><br><a href="mailto:press@covidtracker.ch">press@covidtracker.ch</a></p>
    <p><b><%= t(:technology) %></b><br><a href="mailto:tech@covidtracker.ch">tech@covidtracker.ch</a></p>
    <br>
    <p>

      <b>Dr. med. Jan von Overbeck</b> <br>
      FMH Médecine interne et infectiologie, MSc, <br>
      Fellow of American College of Physicina (FACP) <br>
      jan.von.overbeck@icloud.com
    </p>
    <p><b>Milliways GmbH</b><br>Tizian & Luca Naterop<br>Bauhallengasse 5<br>8004 Zürich</p>
  </section>
</div>
