---
ageRanges:
  - 0-10
  - 11-20
  - 21-30
  - 31-40
  - 41-50
  - 51-60
  - 61-70
  - 71-80
  - 81-90
  - 90+
---
<div class="message hidden" id="msg-error">
  <div class="container">
    Error
  </div>
</div>

<div class="hero">
  <%= partial "partials/navigation" %>
  <div class="container">
    <div>
      <%= partial "partials/icon" %>
      <h1 class="hero__headline"><%= t(:title) %></h1>
      <%= t(:introduction) %>
    </div>
  </div>
</div>

<section class="home-section" id="partners">
  <h2><%= t(:supportedBy) %>:</h2>
  <%= partial "partials/partners" %>
</section>


