<div class="message hidden" id="msg-error">
  <div class="container">
    Error
  </div>
</div>

<div class="hero">
  <%= partial "partials/navigation" %>
  <div class="container">
    <div>
      <%= partial "partials/icon" %>
      <h1 class="hero__headline"><%= t(:title) %></h1>
      <%= t(:introduction) %>
      <p><%= link_to t(:seemore), '/faq.html' %></p>
      <p><a target="_blank" rel="noreferrer" href="<%= t(:pressReleaseLink) %>"><%= t(:pressRelease) %></a></p>
      <a href="#form" class="btn btn--inv"><%= t(:toform) %></a>
    </div>
  </div>
</div>

<section class="home-section" id="partners">
  <h2><%= t(:supportedBy) %>:</h2>
  <%= partial "partials/partners" %>
</section>

<section class="home-section" id="sharing">
  <%= partial "partials/social" %>
</section>

<div class="form" id="form">
  <div class="container">
    <form action="https://backend.covidtracker.ch/form" method="post" id="covid-form">
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:sex) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item" for="sex-1">
            <input class="input" type="radio" name="sex" id="sex-1" value="male" required>
            <span><%= t(:male) %></span>
          </label>
          <label class="radio-item" for="sex-2">
            <input class="input" type="radio" name="sex" id="sex-2" value="female" required>
            <span><%= t(:female) %></span>
          </label>
          <label class="radio-item" for="sex-3">
            <input class="input" type="radio" name="sex" id="sex-3" value="other" required>
            <span><%= t(:other) %></span>
          </label>
        </div>
      </div>
      <div class="input-wrap input-wrap--text">
        <label class="label" for="yearOfBirth"><%= t(:birthyear) %> *</label>
        <input id="yearOfBirth" name="yearOfBirth" class="input input--short" type="number" max="2020" min="1900" step="1" required>
      </div>
      <div class="input-wrap input-wrap--text">
        <label class="label" for="zip"><%= t(:zip) %> *</label>
        <input id="zip" name="zip" class="input input--short" type="number" max="9999" min="1000" step="1" required>
      </div>
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:hasBeenTested) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="hasBeenTested-1">
            <input class="js-toggle input" type="radio" name="hasBeenTested" id="hasBeenTested-1" value="1" data-show="wrap-tested">
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="hasBeenTested-0">
            <input class="js-toggle input" type="radio" name="hasBeenTested" id="hasBeenTested-0" value="0" data-hide="wrap-tested">
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>
      <div id="wrap-tested" class="js-hide">
        <div class="input-wrap input-wrap--child input-wrap--radio">
          <span class="label"><%= t(:testResult) %></span>
          <div class="radio-wrap">
            <label class="radio-item" for="testResult-1">
              <input class="input" type="radio" name="testResult" id="testResult-1" value="1">
              <span><%= t(:positive) %></span>
            </label>
            <label class="radio-item" for="testResult-0">
              <input class="input" type="radio" name="testResult" id="testResult-0" value="0">
              <span><%= t(:negative) %></span>
            </label>
          </div>
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child">
          <label class="label" for="whenTested"><%= t(:whenTested) %></label>
          <input id="whenTested" name="whenTested" class="input input--short" type="date" min="2019-11-01" max="2020-12-31">
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child">
          <label class="label" for="whereTested"><%= t(:whereTested) %></label>
          <input id="whereTested" name="whereTested" class="input" type="text" maxlength="30">
        </div>
      </div>
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:worksInHealth) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="worksInHealth-0">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-0" value="no">
            <span><%= t(:noAnswer) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-1">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-1" value="hospital">
            <span><%= t(:hospital) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-2">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-2" value="private_practice">
            <span><%= t(:privatePractice) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-3">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-3" value="ems">
            <span><%= t(:ems) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-4">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-4" value="other">
            <span><%= t(:other) %></span>
          </label>
        </div>
      </div>
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:wasAbroad) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="wasAbroad-0">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-0" value="no">
            <span><%= t(:noAnswer) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-1">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-1" value="italy">
            <span><%= t(:italy) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-2">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-2" value="spain">
            <span><%= t(:spain) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-3">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-3" value="france">
            <span><%= t(:france) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-4">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-4" value="germany">
            <span><%= t(:germany) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-5">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-5" value="other">
            <span><%= t(:other) %></span>
          </label>
        </div>
      </div>
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:wasInContactWithCase) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="wasInContactWithCase-1">
            <input class="js-toggle input" type="radio" name="wasInContactWithCase" id="wasInContactWithCase-1" value="1" data-show="wrap-dateContacted">
            <span><%= t(:maybe) %></span>
          </label>
          <label class="radio-item" for="wasInContactWithCase-0">
            <input class="js-toggle input" type="radio" name="wasInContactWithCase" id="wasInContactWithCase-0" value="0" data-hide="wrap-dateContacted">
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>
      <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-dateContacted">
        <label class="label" for="dateContacted"><%= t(:dateContacted) %></label>
        <input id="dateContacted" name="dateContacted" class="input input--short" type="date" min="2019-11-01" max="2020-12-31">
      </div>
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:chronicCondition) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="chronicConditionType-0">
            <input class="input" type="radio" name="chronicConditionType" id="chronicConditionType-0" value="no">
            <span><%= t(:noAnswer) %></span>
          </label>
          <label class="radio-item" for="chronicConditionType-1">
            <input class="input" type="radio" name="chronicConditionType" id="chronicConditionType-1" value="heart">
            <span><%= t(:heart) %></span>
          </label>
          <label class="radio-item" for="chronicConditionType-2">
            <input class="input" type="radio" name="chronicConditionType" id="chronicConditionType-2" value="lung">
            <span><%= t(:lung) %></span>
          </label>
          <label class="radio-item" for="chronicConditionType-3">
            <input class="input" type="radio" name="chronicConditionType" id="chronicConditionType-3" value="diabetes">
            <span><%= t(:diabetes) %></span>
          </label>
          <label class="radio-item" for="chronicConditionType-4">
            <input class="input" type="radio" name="chronicConditionType" id="chronicConditionType-4" value="other">
            <span><%= t(:other) %></span>
          </label>
        </div>
      </div>
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:feelsHealthy) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item" for="feelsHealthy-1">
            <input class="js-toggle input" type="radio" name="feelsHealthy" id="feelsHealthy-1" value="1" required data-hide="form-expanded">
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="feelsHealthy-0">
            <input class="js-toggle input" type="radio" name="feelsHealthy" id="feelsHealthy-0" value="0" required data-show="form-expanded">
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>
      <div id="form-expanded" class="js-hide">
        <span class="section-title"><%= t(:followingSymptoms) %></span>
        <div class="input-wrap input-wrap--radio">
          <span class="label"><%= t(:fever) %></span>
          <div class="radio-wrap">
            <label class="radio-item" for="fever-1">
              <input class="js-toggle input" type="radio" name="fever" id="fever-1" value="1" data-show="wrap-feverSince">
              <span><%= t(:yesAnswer) %></span>
            </label>
            <label class="radio-item" for="fever-0">
              <input class="js-toggle input" type="radio" name="fever" id="fever-0" value="0" data-hide="wrap-feverSince">
              <span><%= t(:noAnswer) %></span>
            </label>
          </div>
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-feverSince">
          <label class="label" for="feverSince"><%= t(:sinceHowManyDays) %></label>
          <input id="feverSince" name="feverSince" class="input input--short" type="number">
        </div>
        <div class="input-wrap input-wrap--radio">
          <span class="label"><%= t(:coughing) %></span>
          <div class="radio-wrap">
            <label class="radio-item" for="coughing-1">
              <input class="js-toggle input" type="radio" name="coughing" id="coughing-1" value="1" data-show="wrap-coughingSince">
              <span><%= t(:yesAnswer) %></span>
            </label>
            <label class="radio-item" for="coughing-0">
              <input class="js-toggle input" type="radio" name="coughing" id="coughing-0" value="0" data-hide="wrap-coughingSince">
              <span><%= t(:noAnswer) %></span>
            </label>
          </div>
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-coughingSince">
          <label class="label" for="coughingSince"><%= t(:sinceHowManyDays) %></label>
          <input id="coughingSince" name="coughingSince" class="input input--short" type="number">
        </div>
        <div class="input-wrap input-wrap--radio">
          <span class="label"><%= t(:dyspnea) %></span>
          <div class="radio-wrap">
            <label class="radio-item" for="dyspnea-1">
              <input class="js-toggle input" type="radio" name="dyspnea" id="dyspnea-1" value="1" data-show="wrap-dyspneaSince">
              <span><%= t(:yesAnswer) %></span>
            </label>
            <label class="radio-item" for="dyspnea-0">
              <input class="js-toggle input" type="radio" name="dyspnea" id="dyspnea-0" value="0" data-hide="wrap-dyspneaSince">
              <span><%= t(:noAnswer) %></span>
            </label>
          </div>
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-dyspneaSince">
          <label class="label" for="dyspneaSince"><%= t(:sinceHowManyDays) %></label>
          <input id="dyspneaSince" name="dyspneaSince" class="input input--short" type="number">
        </div>
        <div class="input-wrap input-wrap--radio">
          <span class="label"><%= t(:tiredness) %></span>
          <div class="radio-wrap">
            <label class="radio-item" for="tiredness-1">
              <input class="js-toggle input" type="radio" name="tiredness" id="tiredness-1" value="1" data-show="wrap-tirednessSince">
              <span><%= t(:yesAnswer) %></span>
            </label>
            <label class="radio-item" for="tiredness-0">
              <input class="js-toggle input" type="radio" name="tiredness" id="tiredness-0" value="0" data-hide="wrap-tirednessSince">
              <span><%= t(:noAnswer) %></span>
            </label>
          </div>
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-tirednessSince">
          <label class="label" for="tirednessSince"><%= t(:sinceHowManyDays) %></label>
          <input id="tirednessSince" name="tirednessSince" class="input input--short" type="number">
        </div>
        <div class="input-wrap input-wrap--radio">
          <span class="label"><%= t(:throat) %></span>
          <div class="radio-wrap">
            <label class="radio-item" for="throat-1">
              <input class="js-toggle input" type="radio" name="throat" id="throat-1" value="1" data-show="wrap-throatSince">
              <span><%= t(:yesAnswer) %></span>
            </label>
            <label class="radio-item" for="throat-0">
              <input class="js-toggle input" type="radio" name="throat" id="throat-0" value="0" data-hide="wrap-throatSince">
              <span><%= t(:noAnswer) %></span>
            </label>
          </div>
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-throatSince">
          <label class="label" for="throatSince"><%= t(:sinceHowManyDays) %></label>
          <input id="throatSince" name="throatSince" class="input input--short" type="number">
        </div>
      </div>
      <button type="submit" class="btn" id="btn-send"><%= t(:sendForm) %></button>
    </form>
  </div>
</div>
