---
ageRanges:
  - 0-10
  - 11-20
  - 21-30
  - 31-40
  - 41-50
  - 51-60
  - 61-70
  - 71-80
  - 81-90
  - 90+
---
<div class="message hidden" id="msg-error">
  <div class="container">
    Error
  </div>
</div>

<div class="hero">
  <%= partial "partials/navigation" %>
  <div class="container">
    <div>
      <%= partial "partials/icon" %>
      <h1 class="hero__headline"><%= t(:title) %></h1>
      <%= t(:introduction) %>
      <div><%= link_to t(:seemore), '/faq.html' %> - <%= partial "localizable/partials/mailinglist" %> - <a target="_blank" rel="noreferrer" href="<%= t(:pressReleaseLink) %>"><%= t(:pressRelease) %></a></div>
      <a href="#form" class="btn btn--inv"><%= t(:toform) %></a>
    </div>
  </div>
</div>

<section class="home-section" id="partners">
  <h2><%= t(:supportedBy) %>:</h2>
  <%= partial "partials/partners" %>
</section>

<section class="home-section" id="sharing">
  <%= partial "partials/social" %>
</section>

<div class="form" id="form">
  <div class="container">

    <ul class="moreinfo-links">
      <li><%= link_to t(:aboutTheStudy), '/study_info.html', target: "_blank" %></li>
      <li><%= link_to t(:consentInformation), '/consent.html', target: "_blank" %></li>
    </ul>

    <div class="survey_additional_container">
      <%= partial "localizable/partials/home_more" %>
    </div>

    <!--
    <div class="maintenance" style="display: none;">
      <img class="side-icon" src="/images/exclamation-triangle.svg" alt="Notice Triangle" width="200" height="200" style="width: 200px;">
      <div>
        <h3><%= t(:maintenanceHeader) %></h3>
        <p>
        <%= t(:maintenanceText) %>
        </p>
      </div>
    </div>
    -->

    <form action="<%= config[:api_url] %>/form" onsubmit="persistForm()" method="post" id="covid-form">
      <div class="boxed code-chooser">
        <!-- ---------------------------------------------------------
        --- first-time survey?
        ---------------------------------------------------------- -->
        <div class="input-wrap input-wrap--radio">
          <span class="label"><%= t(:firstTimeForm) %> *</span>
          <div class="radio-wrap">
            <label class="radio-item" for="firstTimeSurvey-1">
              <input class="js-toggle input" type="radio" name="firstTimeSurvey" id="firstTimeSurvey-1" value="1" data-hide="wrap-participantcode" required>
              <span><%= t(:yesAnswer) %></span>
            </label>
            <label class="radio-item" for="firstTimeSurvey-0">
              <input class="js-toggle input" type="radio" name="firstTimeSurvey" id="firstTimeSurvey-0" value="0" data-show="wrap-participantcode" required>
              <span><%= t(:noAnswer) %></span>
            </label>
          </div>
        </div>

        <!-- ---------------------------------------------------------
        --- participation code
        ---------------------------------------------------------- -->
        <div id="wrap-participantcode" class="input-wrap input-wrap--text js-hide">
          <label class="label" for="participantCodeList"><%= t(:participantCode) %></label>
          <select id="participantCodeList" name="participantCodeList" class="dropdown">
            <option value="__none__"><%= t(:unlistedCode) %></option>
          </select>
          <div id="participantCodeManualBox" style="margin-top: 10px;" class="hidden">
            <label class="label" for="participantCodeManual"><%= t(:manualParticipantCode) %></label>
            <input id="participantCodeManual" name="participantCodeManual" class="input input--short">
          </div>

          <input type="hidden" id="effectiveParticipantCode" name="participantCode" />
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- sex
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:sex) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item" for="sex-1">
            <input class="input" type="radio" name="sex" id="sex-1" value="male" required>
            <span><%= t(:male) %></span>
          </label>
          <label class="radio-item" for="sex-2">
            <input class="input" type="radio" name="sex" id="sex-2" value="female" required>
            <span><%= t(:female) %></span>
          </label>
          <label class="radio-item" for="sex-3">
            <input class="input" type="radio" name="sex" id="sex-3" value="other" required>
            <span><%= t(:other) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- age
      ---------------------------------------------------------- -->
      <div class="input-wrap">
        <label for="ageRangeDropdown" class="label"><%= t(:age) %> *</label>
        <select id="ageRangeDropdown" name="ageRange" class="dropdown">
          <% current_page.data.ageRanges.each do |range| %>
            <option value="<%= range %>"><%= range %></option>
          <% end %>
        </select>
      </div>

      <!-- ---------------------------------------------------------
      --- postal code
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--text">
        <label class="label" for="zip"><%= t(:zip) %> *</label>
        <input id="zip" name="zip" class="input input--short" type="number" max="9999" min="1000" step="1" required>
      </div>

      <!-- ---------------------------------------------------------
      --- household size
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--text">
        <label class="label" for="householdSize"><%= t(:householdSize) %> *</label>
        <input id="householdSize" name="householdSize" class="input input--short" type="number" max="50" min="1" step="1" required>
      </div>


      <!-- ---------------------------------------------------------
      --- feeling healthy?
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:feelsUnhealthy) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item" for="feelsHealthy-1">
            <input class="js-toggle input" type="radio" name="feelsHealthy" id="feelsHealthy-1" value="0" required data-show="form-expanded">
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="feelsHealthy-0">
            <input class="js-toggle input" type="radio" name="feelsHealthy" id="feelsHealthy-0" value="1" required data-hide="form-expanded">
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- (if not healthy) symptoms
      ---------------------------------------------------------- -->
      <div id="form-expanded" class="boxed js-hide">
        <span class="section-title reduced-margins"><%= t(:followingSymptoms) %></span>
        <% t(:symptoms).each do | key, entry | %>
          <div class="input-wrap input-wrap--radio">
            <span class="label"><%= entry[:label] %></span>
            <div class="radio-wrap">
              <label class="radio-item" for="<%= key %>-1">
                <input class="js-toggle input" type="radio" name="<%= key %>" id="<%= key %>-1" value="1" data-show="wrap-<%= key %>Since">
                <span><%= t(:yesAnswer) %></span>
              </label>
              <label class="radio-item" for="<%= key %>-0">
                <input class="js-toggle input" type="radio" name="<%= key %>" id="<%= key %>-0" value="0" data-hide="wrap-<%= key %>Since">
                <span><%= t(:noAnswer) %></span>
              </label>
            </div>
          </div>
          <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-<%= key %>Since">
            <label class="label" for="<%= key %>Since"><%= t(:sinceHowManyDays) %></label>
            <input id="<%= key %>Since" name="<%= key %>Since" class="input input--short" type="date" min="2019-11-01" max="2020-12-31">
          </div>
        <% end %>
      </div>

      <!-- ---------------------------------------------------------
      ---  previously had symptoms?
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:previouslyUnhealthy) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item" for="previouslyUnhealthy-1">
            <input class="js-toggle input" type="radio" name="previouslyUnhealthy" id="previouslyUnhealthy-1" value="1" required data-show="previous-symptoms-expanded">
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="previouslyUnhealthy-0">
            <input class="js-toggle input" type="radio" name="previouslyUnhealthy" id="previouslyUnhealthy-0" value="0" required data-hide="previous-symptoms-expanded">
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- (if previously unhealthy) previous symptoms
      ---------------------------------------------------------- -->
      <div id="previous-symptoms-expanded" class="boxed js-hide">
        <span class="section-title reduced-margins"><%= t(:followingPreviousSymptoms) %></span>
        <% t(:symptoms).each do | key, entry | %>
          <div class="input-wrap input-wrap--radio">
            <span class="label"><%= entry[:label] %></span>
            <div class="radio-wrap">
              <label class="radio-item">
                <input class="js-toggle input" type="radio" name="previous<%= entry[:field] %>" value="1">
                <span><%= t(:yesAnswer) %></span>
              </label>
              <label class="radio-item">
                <input class="js-toggle input" type="radio" name="previous<%= entry[:field] %>" value="0">
                <span><%= t(:noAnswer) %></span>
              </label>
            </div>
          </div>
        <% end %>
      </div>

      <!-- ---------------------------------------------------------
      --- covid-19 tested?
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:hasBeenTested) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="hasBeenTested-1">
            <input class="js-toggle input" type="radio" name="hasBeenTested" id="hasBeenTested-1" value="1" data-show="wrap-tested">
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="hasBeenTested-0">
            <input class="js-toggle input" type="radio" name="hasBeenTested" id="hasBeenTested-0" value="0" data-hide="wrap-tested">
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- (if tested) test results
      ---------------------------------------------------------- -->
      <div id="wrap-tested" class="js-hide">
        <div class="input-wrap input-wrap--child input-wrap--radio">
          <span class="label"><%= t(:testResult) %></span>
          <div class="radio-wrap">
            <label class="radio-item" for="testResult-1">
              <input class="input" type="radio" name="testResult" id="testResult-1" value="positive">
              <span><%= t(:positive) %></span>
            </label>
            <label class="radio-item" for="testResult-0">
              <input class="input" type="radio" name="testResult" id="testResult-0" value="negative">
              <span><%= t(:negative) %></span>
            </label>
          </div>
        </div>
        <div class="input-wrap input-wrap--text input-wrap--child">
          <label class="label" for="whenTested"><%= t(:whenTested) %></label>
          <input id="whenTested" name="whenTested" class="input input--short" type="date" min="2019-11-01" max="2020-12-31">
        </div>
        <!--
        <div class="input-wrap input-wrap--text input-wrap--child">
          <label class="label" for="whereTested"><%= t(:whereTested) %></label>
          <input id="whereTested" name="whereTested" class="input" type="text" maxlength="30">
        </div>
        -->
      </div>

      <!-- ---------------------------------------------------------
      --- (if untested) why not tested?
      ---------------------------------------------------------- -->
      <!--
      <div id="wrap-untested" class="js-hide">
        <div class="input-wrap input-wrap--child input-wrap--radio">
          <span class="label"><%= t(:nonTestReason) %></span>
          <div class="radio-wrap">
            <label class="radio-item">
              <input class="input" type="radio" name="soughtMedicalAdvice" value="1">
              <span><%= t(:yesAnswer) %></span>
            </label>
            <label class="radio-item">
              <input class="input" type="radio" name="soughtMedicalAdvice" value="0">
              <span><%= t(:noAnswer) %></span>
            </label>
          </div>
        </div>
      </div>
      -->

      <!-- ---------------------------------------------------------
      --- works in healthcare
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:worksInHealth) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="worksInHealth-0">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-0" value="no">
            <span><%= t(:noAnswer) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-1">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-1" value="hospital">
            <span><%= t(:hospital) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-2">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-2" value="private_practice">
            <span><%= t(:privatePractice) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-3">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-3" value="ems">
            <span><%= t(:ems) %></span>
          </label>
          <label class="radio-item" for="worksInHealth-4">
            <input class="input" type="radio" name="worksInHealth" id="worksInHealth-4" value="other">
            <span><%= t(:other) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- leaving home for work?
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:leavingHomeForWork) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item">
            <input class="input" type="radio" name="leavingHomeForWork" id="leavingHomeForWork-1" value="1" required>
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item">
            <input class="input" type="radio" name="leavingHomeForWork" id="leavingHomeForWork-0" value="0" required>
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- was in contact with COVID-19
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:wasInContactWithCase) %></span>
        <div class="radio-wrap">
<!--          <label class="radio-item">-->
<!--            <input class="js-toggle input" type="radio" name="wasInContactWithCase" id="wasInContactWithCase-Yes" value="yes" data-show="wrap-dateContacted">-->
<!--            <span><%#= t(:yesAnswer) %></span>-->
<!--          </label>-->
          <label class="radio-item">
            <input class="js-toggle input" type="radio" name="wasInContactWithCase" id="wasInContactWithCase-Probably" value="1" data-show="wrap-dateContacted">
            <span><%= t(:probablyAnswer) %></span>
          </label>
          <label class="radio-item">
            <input class="js-toggle input" type="radio" name="wasInContactWithCase" id="wasInContactWithCase-notKnown" value="0" data-hide="wrap-dateContacted">
            <span><%= t(:notKnownAnswer) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- date contacted
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--text input-wrap--child js-hide" id="wrap-dateContacted">
        <label class="label" for="dateContacted"><%= t(:dateContacted) %></label>
        <input id="dateContacted" name="dateContacted" class="input input--short" type="date" min="2019-11-01" max="2020-12-31">
      </div>

      <!-- ---------------------------------------------------------
      --- recently abroad
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:wasAbroad) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="wasAbroad-0">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-0" value="no">
            <span><%= t(:noAnswer) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-1">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-1" value="italy">
            <span><%= t(:italy) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-2">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-2" value="spain">
            <span><%= t(:spain) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-3">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-3" value="france">
            <span><%= t(:france) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-4">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-4" value="germany">
            <span><%= t(:germany) %></span>
          </label>
          <label class="radio-item" for="wasAbroad-5">
            <input class="input" type="radio" name="wasAbroad" id="wasAbroad-5" value="other">
            <span><%= t(:other) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- behaviors
      ---------------------------------------------------------- -->
      <div class="input-wrap">
        <span class="label"><%= t(:behaviorPrompt) %> *</span>
        <div class="radio-wrap">
          <% t(:behaviors).each do | key, entry | %>
            <div>
              <label class="radio-item">
                <input class="input" type="radio" name="behavior" id="behavior-<%= key %>" value="<%= key %>" required>
                <span><%= entry[:label] %></span>
                <% if entry[:subtext] %>
                  <div class="subtext subtext--rb-inset"><%= entry[:subtext] %></div>
                <% end %>
              </label>
            </div>
          <% end %>
        </div>
      </div>


      <!-- ---------------------------------------------------------
      --- smoke/vape?
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:smokeOrVape) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item" for="isSmoker-1">
            <input class="input" type="radio" name="isSmoker" id="isSmoker-1" value="1" required>
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="isSmoker-0">
            <input class="input" type="radio" name="isSmoker" id="isSmoker-0" value="0" required>
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- comoborbidities
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--checkboxlist">
        <span class="label"><%= t(:comorbiditiesPrompt) %></span>
        <div class="radio-wrap">
          <% t(:'comorbidities.main').each do | key, entry | %>
            <label class="checkboxlist-item">
              <input type="checkbox" name="comorbidity_<%= key %>" value="1" />
              <span><%= entry[:label] %></span>
              <% if entry[:subtext] %>
                <div class="subtext subtext--inset"><%= entry[:subtext] %></div>
              <% end %>
            </label>
          <% end %>

          <!-- extended comobordities w/toggles -->
          <div id="wrap-main-comorbidities-expander">
            <a href="#" class="js-toggle" data-show="wrap-extended-comorbidities" data-hide="wrap-main-comorbidities-expander">
              <%= t(:showMoreComorbidities) %>
            </a>
          </div>
          <div id="wrap-extended-comorbidities" class="js-hide">
            <% t(:'comorbidities.extended').each do | key, entry | %>
              <label class="checkboxlist-item">
                <input type="checkbox" name="comorbidity_<%= key %>" value="1" />
                <span><%= entry[:label] %></span>
                <% if entry[:subtext] %>
                  <div class="subtext subtext--inset"><%= entry[:subtext] %></div>
                <% end %>
              </label>
            <% end %>

            <a href="#" class="js-toggle" data-show="wrap-main-comorbidities-expander" data-hide="wrap-extended-comorbidities">
              <%= t(:hideMoreComorbidities) %>
            </a>
          </div>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- save responses?
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:saveResponses) %> *</span>
        <span class="subtext"><%= t(:cookieWarning) %></span>
        <div class="radio-wrap">
          <label class="radio-item" for="saveResponses-1">
            <input class="input" type="radio" name="saveResponses" id="saveResponses-1" value="1" required>
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="saveResponses-0">
            <input class="input" type="radio" name="saveResponses" id="saveResponses-0" value="0" required>
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>

      <!-- ---------------------------------------------------------
      --- consent?
      ---------------------------------------------------------- -->
      <div class="input-wrap input-wrap--radio">
        <span class="label"><%= t(:consentToStudy) %> *</span>
        <div class="radio-wrap">
          <label class="radio-item" for="consentToStudy-1">
            <input class="input" type="radio" name="consentToStudy" id="consentToStudy-1" value="1" required>
            <span><%= t(:yesAnswer) %></span>
          </label>
          <label class="radio-item" for="consentToStudy-0">
            <input class="input" type="radio" name="consentToStudy" id="consentToStudy-0" value="0" required>
            <span><%= t(:noAnswer) %></span>
          </label>
        </div>
      </div>

      <input type="hidden" id="lang" name="lang" />

      <button type="submit" class="btn" id="btn-send"><%= t(:sendForm) %></button>
    </form>
  </div>
</div>
