<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage pressKit">
    <h2><%= t("pressKit.header") %></h2>
    <%= t("pressKit.infoText") %>

    <div class="boxholder">
       <div class="box">
            <div class="banner" alt="FAQ thumbnail" style="background-image: url('/images/presskit/faq_thumbnail-01.png');"></div>
            <h3><%= t("pressKit.faq") %></h3>
            <p> <a target="_blank" href="/images/presskit/FAQs_consolidation.pdf">Link</a> </p>
        </div>

       <div class="box">
            <div class="banner" alt="bodensee tv interview" style="background-image: url('/images/presskit/image_newsletter_luca_interview-01.jpg');"></div>
            <h3><%= t("pressKit.interview") %></h3>
            <p> <a target="_blank" href="https://bodenseetv.ch/kfs-30-04-01-05-2020-covidtracker-ch-corona-ticker-hafenmeister/">Link</a> </p>
        </div>


       <div class="box">
            <div class="banner" alt="info poster" style="background-image: url('/images/presskit/poster_thumbnail.png')"></div>
            <h3><%= t("pressKit.poster") %></h3>
            <p> <a target="_blank" href="/images/presskit/covidtracker_poster_localized_MAY.pdf">Link</a> </p>
        </div>


        <div class="box">
            <div class="banner" alt="Gesundheitsdirektion des Kantons Bern" style="background-image: url('/images/partner/logo-bern.png')"></div>
            <h3><%= t("pressKit.bernPress") %></h3>
            <p> <a target="_blank" href="https://www.be.ch/portal/de/index/mediencenter/medienmitteilungen.meldungNeu.html/portal/de/meldungen/mm/2020/04/20200408_0901_die_eth_zuerich_undderkantonbernentwickelngemeinsamdencovid-19sy?utm_source=rss&utm_medium=Medienmitteilungen&utm_campaign=Die+ETH+Z%C3%BCrich+und+der+Kanton+Bern+entwickeln+gemeinsam+den+COVID-19+Symptom-Tracker">Link</a> </p>
        </div>

        <div class="box">
            <div class="banner" alt="ethz press release" style="background-image: url('/images/partner/logo-eth.png')"></div>
            <h3><%= t("pressKit.ethzPress") %></h3>
            <p> <a target="_blank" href="https://ethz.ch/en/news-and-events/eth-news/news/2020/04/fighting-coronavirus-together.html">Link</a> </p>
        </div>

        <div class="box">
            <div class="banner" alt="medarchiv preprint" style="background-image: url('/images/presskit/medarxiv_thumbnail.png')"></div>
            <h3><%= t("pressKit.preprint") %></h3>
            <p> <a target="_blank" href="https://www.medrxiv.org/content/10.1101/2020.04.02.20051284v1?rss=1%22">Link</a> </p>
        </div>


       <div class="box">
            <div class="banner" alt="stronger together promo image" style="background-image: url('/images/presskit/stronger_together_thumbnail.jpg')"></div>
            <h3><%= t("pressKit.strongerTogether") %></h3>
            <p> <a target="_blank" href="/images/presskit/stronger_together_promo_image.zip">Link</a> </p>
        </div>


       <div class="box">
            <div class="banner" alt="need a break promo image" style="background-image: url('/images/presskit/need_a_break_thumbnail.jpg')"></div>
            <h3><%= t("pressKit.needABreak") %></h3>
            <p> <a target="_blank" href="/images/presskit/need_a_break_promo_image.zip">Link</a> </p>
        </div>

       <div class="box">
            <div class="banner" alt="medarchiv preprint" style="background-image: url('/images/presskit/radio_thumbnail.png')"></div>
            <h3><%= t("pressKit.radio") %></h3>
            <p> <a target="_blank" href="https://www.rts.ch/play/radio/le-journal-horaire/audio/la-plateforme-participative-covidtracker-ch-veut-identifier-les-foyers-de-contamination-au-coronavirus?id=11200559">Link</a> </p>
        </div>

    </div>
  </section>
</div>
